*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: rgb(138, 1, 1);
    height: 100px;
}
.title{
    text-align: center;
    padding: 10px;
    font-size: 35px;
    color: white;
}

#prezzo-biglietto{
    color: green;
}
footer{
    width: 100%;
    height: 100px;
    background-color:rgb(138, 1, 1);
}

img{
    width: 100%;
}